---
import { PROJECTS } from "utils/data.js";
import ProjectButton from "./ProjectButton.astro";
import Github from "./icons/Github.astro";
import Device from "./icons/Device.astro";
import TechSpan from "./TechSpan.astro";
---

{
  PROJECTS.map(({ title, description, tags, link, image }) => (
    <article class="my-10">
      <h3 class="text-2xl font-semibold text-cyan-400 mb2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex flex-wrap gap-2 flex-row mb-2">
        {tags.map(({ style, icon, name }) => (
          <li>{<TechSpan style={style} icon={icon} name={name} />}</li>
        ))}
      </ul>
      <picture class="flex justify-center">
        <img
          class="rounded shadow-2xl shadow-white/10"
          src={image}
          alt={`Captura de pantalla del proyecto ${title}`}
          loading="lazy"
        />
      </picture>
      <div class="flex justify-around flex-col items-center mt-8 sm:flex-row">
        <ProjectButton class="" href={link.project}>
          <Device />
          {title}
        </ProjectButton>

        <ProjectButton
          class="my-2 md:w-fit sm:my-0 sm:w-[70%]"
          href={link.github}
        >
          <Github />
          Repositorio de Github
        </ProjectButton>
      </div>
    </article>
  ))
}
