---
import { PROJECTS } from "./utils/Tags.js";
import ProjectButton from "./ProjectButton.astro";
import Github from "./icons/Github.astro";
import Device from "./icons/Device.astro";
---

{
  PROJECTS.map(({ title, description, tags, link, image, github }) => (
    <article class="my-10">
      <h3 class="text-2xl font-semibold text-cyan-400 mb2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex flex-wrap gap-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            {
              <span
                class={`flex gap-x-2 rounded-full text-xs py-1 px-2 ${tag.class}`}
              >
                {tag.icon && <tag.icon class="size-4" />}
                {tag.name}
              </span>
            }
          </li>
        ))}
      </ul>
      <picture class="flex justify-center">
        <img
          class="rounded shadow-2xl shadow-white/10"
          src={image}
          alt={`Captura de pantalla del proyecto ${title}`}
        />
      </picture>
      <div class="flex justify-around flex-col items-center mt-8 sm:flex-row">
        <ProjectButton class="" href={link}>
          <Device />
          {title}
        </ProjectButton>

        <ProjectButton class="my-2 md:w-fit sm:my-0 sm:w-[70%]" href={github}>
          <Github />
          Repositorio de Github
        </ProjectButton>
      </div>
    </article>
  ))
}
